@import './scss/variables', './scss/navbar', './scss/hero',
  './scss/finance_cloud', './scss/treasury', './scss/config', './scss/process';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $gray-text;
}

header,
.hero {
  background-color: $bg-primary;
}

.container {
  width: 80%;
  // ! Technically it is responsive without this max width although it can be a bit ugly xd
  max-width: 18.75em;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $white-text;
}

// ! Temporal not visibility
.all-in-one,
.hr-cloud,
.differentiator,
.pricing {
  display: none;
}

// table,
// td {
//   border: 1px solid #333;
// }
