.finance-cloud {
  text-align: center;

  img {
    width: 8%;
    margin: 2em 0 0.6em 0;
  }

  &__heading {
    img {
      width: 8%;
      max-width: 1.83em;
      margin: 2em 0 0.6em 0;
    }

    p {
      margin: 1em 0;
    }

    & > *:not(p, img) {
      margin-bottom: 2em;
    }

    h4 {
      letter-spacing: 5px;
      border-bottom: 1px solid rgba($blue-dot, 0.3);
      // &::after {
      //   content: ' ';
      //   position: absolute;
      //   top: 26.5em;
      //   left: 11.2em;
      //   width: 12em;
      //   border-bottom: 1px solid rgba($blue-dot, 0.3);
      // }
    }
  }

  &__title {
    font-weight: normal;
  }

  &__cards {
    & > * {
      margin-bottom: 3em;
    }
  }

  &__card {
    border: 1px solid rgba($subtitle-gray, 0.3);
    border-radius: 10px;
    padding: 1em 1em;

    .big {
      width: 18%;
      max-width: 4.01em;
      margin: 1em 0 0.6em 0;
    }

    h5,
    p {
      margin-bottom: 1.5em;
    }

    h5 {
      font-size: 1rem;
    }

    p {
      color: $subtitle-gray;
    }
  }
}
