$bg-primary: #161b2c;
$bg-secondary: #242b40;
$bg-blue: #254fe2;
$bg-light-blue: #8fd2fd;
$white-text: #f0f0f1;
$gray-text: #333847;
$subtitle-gray: #bac0c9;
$accent-light-blue: #7eb6d4;
$primary-btn: #4069ff;
$blue-dot: #3a5ee2;
